<!DOCTYPE html>
<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Dynamic Table</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Cell</th>
            </tr>
        </thead>
        <tbody>
            {% for text in texts %}
                <tr>
                    <td>{{ text.name }}</td>
                    <td>{{ text.count }}</td>
                    <td>{{ text.cell }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>